
/*...mobile size max width 375....*/
    
.container{ /*...start grid css on main body of the page....*/
    width: 100%;
  height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.content1{/*...header grid css....*/
    display: grid;
    grid-column: 1 / 6;
    margin: 5px;
}

.navbar{
    grid-column: 1 /3;
}

     .menu {
    display: grid;
    grid-column:  1;
    grid-row: 1;
    justify-self: start;
}

  
  a, .logo {
    display: grid;
    grid-column: 2 /4;
    grid-row: 1;
    justify-self:start;
    margin-left: 20%;
}

 a, .bask{
    display: grid;
    grid-column:5;
    grid-row: 1;
    justify-self: end;
    align-self:center;
}



.banner{ /*...banner grid css of elements in the section...*/
    grid-column: 1 / 7;
    background-color: white;
    margin:  0;
    height: 74px;
}

 .bord{
    border-bottom: 6px solid #DDb45d;
    border-top: 6px solid #DDb45d;
    margin-top: 4px;
    padding-bottom: 3px;
}

    .cigar{
    display: grid;
    grid-column: 2/ 5;
    grid-row: 2;
    margin-left: 20%;
    }
    
    h2{
    display: grid;
    grid-column: 2 /5;
    grid-row: 2;
    align-self: baseline;
    justify-self: center;
    margin-left: 20px;
    padding-top: 5px;

}
.txt{
    display: grid;
    grid-column: 1 / 6;
    grid-row: 3 /4;
}

hr{
    display: grid;
    grid-column: 1 /6;
    grid-row: 4;
    margin-top: 10%;
}

.product{
    display: grid;
    grid-column: 1 / 6;   
}

 h3{
    display: grid;
    grid-column: 3 /4;
    justify-content: center;
    grid-row: 5;

}

 .stamp{
    display: grid;
    grid-column: 3 /5;
    align-content:center;
    padding: 10px;
    margin-right: 50px;
    grid-row: 6;

}

  .guitar {
    display: grid;
    grid-column: 1 /3;
    justify-self:center;
    grid-row: 5/8;
    
}

.line {
    display: grid;
    grid-column: 1 /6;
    grid-row: 8;
    margin-top: 20%;
}

.carrousel{
    grid-column: 1 / 6;
    grid-row:9 /10;
}

  .right-btn{
     display: grid;
     grid-column: 6;
     align-content: center;
     grid-row: 10;

 }

 .pro-thumb{
     display: grid;
     grid-row: 10;
 }

 .line2 {
    display: grid;
    grid-column: 1 /6;
    grid-row: 10;
    margin-top: 20%;
}

.detail{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 11 / 12;
}

 .btn-last{
    display: flex;
    grid-row: 12;
    position:relative;
    padding: 5px;
    padding-left: 20%;
}

.line3 {
    display: grid;
    grid-column: 1 /6;
    grid-row:14;
    width: 100%;
    margin-top: 25%;
}

.foot{
    display: grid;
    grid-column: 1 / 6;
    grid-row: 15;
    margin-top: 8%;
}

.add{
    grid-column: 1;
    justify-content: start;
    margin: 5px;
}

.icon{
    grid-column: 5/6;
    margin-top: 10px;
}


/* grid screen size large mobile 411px width  */
@media screen and(min-width:411px) {
    .container{
        width: 100%;
      height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 70px);
        grid-template-rows:max-content;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .carrousel{
        grid-column: 1 / 6;
        grid-row:10;
    }
    .right-btn{
        display: grid;
        grid-column: 6;
        align-content: center;
        grid-row: 10;
    }
}

/* grid screen size large device 485px width  */
@media screen and(min-width:485px) {
    .container{
        width: 100%;
      height: 100%;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows:max-content;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    a .logo {
        display: grid;
        grid-column: 2/4;
        grid-row: 1;
        justify-self:end;
    }

  }

/* grid screen size large device small tablet 600px width  */
  @media only screen and (min-width: 600px) {

    .container{
        width: 100%;
      height: 100%;
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    header > .content1 {
        display: grid;
        grid-column: 1 / 6;
        margin: 5px;
    }

    .navbar{
        grid-column: 1 /3;
    }
    
         .menu {
        display: grid;
        grid-column:  1;
        grid-row: 1;
        justify-content: start;
    }
    
      
       .logo {
        display: grid;
        grid-column: 4 /5;
        grid-row: 1;
        justify-content: end;
        margin-left: 20%;
    }
    
     a, .bask{
        display: grid;
        grid-column:10;
        grid-row: 1;
        justify-self: start;
        align-self:center;
    }
    
    .cigar{
        display: grid;
        grid-column: 4/ 6;
        grid-row: 2;
        margin-left: 30%;
        justify-content:start;
        }

        h2{
            display: grid;
            grid-column: 3 /6;
            grid-row: 2;
            align-self: baseline;
            justify-content:center;
            margin-right: 50px;
            padding-top: 5px;
        
        }
        
         button > .right-btn .left-btn {
            display:none;
          }

          .txt{
            display: grid;
            grid-column: 1 / 6;
            grid-row: 3 /4;
            justify-content: start;
        }

        .btn-last{
            display: flex;
            grid-row: 12;
            position:relative;
            padding: 5px;
            padding-left: 30%;
        }
  }

/* grid screen size small laptop to large laptop and desktop 1001px to 2000px width  */
@media only screen and (min-device-width: 1001px ) and (max-device-width: 2000px){

    .container{
        width: 100%;
      height: 100%;
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    
    .content1{
        display: grid;
        grid-column: 4 /12 ;
        grid-row: 1 /2;
        margin: 5px;
    }

    a, .logo {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        justify-self:start;
    }

    
     a, .bask{
        display: grid;
        grid-column:1/5;
        grid-row: 1;
        align-self:end;
        margin-left: 80%;
    }
    
    .navbar{
        grid-column: 4/ auto;
        grid-row: 2;
    }

     .nav-list{
        grid-column: 1/auto;
        grid-row: 2;
    }

    hr{
        grid-column: 1/12;
        grid-row: 2;
    }

    .line{
        grid-column: 1/12;
        grid-row: 2;
    }
    .txt{
        grid-column: 2/6;
        grid-row: 3;
    }

    .product{
        display: grid;
        grid-column: 2/3;   
        grid-row:5/ 6;
    }

    h3{
        display: grid;
        grid-column: 3;
        grid-row: 6;
        margin-left: 60%;
    
    }
    
     .stamp{
        display: grid;
        grid-column: 3;
        justify-content:end;
        padding: 10px;
        margin-left: 30%;
        grid-row: 5;
    }

    .detail{
        grid-column: 4/5;
        grid-row: 5/6;
    }

    .carrousel{
        grid-column: 1/ 6;
        grid-row: 7;
    }
    .line3{
        grid-row: 8;
    }
    .foot{
        grid-column: 1/6;
        grid-row: 8;
    }

    .add > h6{
        grid-column:2 ;
    }


}