/* SaSS compile style.scss to style.css  */

$color: #FF0000;
$textcolor: black;
$paragcolor: black;
$textfont: 'arial';
 

*{ /* Html tag with setting scss */

    
    margin: 0;
    padding: 0;
    font-family: $textfont;
} 

/* body tag with page background image */
body{ 
    background-image: url("/img/background1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:fit-content;
}

/* start CSS mobile screen  max width 375px */

.logo{
  cursor: pointer;
}

/* start navigation css formating  */

.navbar{
  position: fixed;
  z-index: 100;
  width: 50%;
  top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  display: block;
  justify-content: start;
  background-color: #1A1A1A;
  width: 50%;
  height: 1124px;

}
h1{
  display: none;
}

.nav-link {
    display: flex;
    position: relative;
  overflow: hidden;
  color: white;
  text-decoration: none;
  padding: 1.5rem 0;
  border-bottom: 1px solid gray;

  }
  
  .nav-link:hover::before {
    left: 110%;
  }

  .navbar,  .nav-list {
    justify-content: start;
    flex-direction: column;
    background-color: #1A1A1A;
    border-radius: 0.5rem;
    height: calc(100vh -5rem);
    left: -40rem;
  }

  .nav-link:hover{
      color: rgb(65, 64, 64);
  }

  .change, .nav-list{
    left: 0;
}

  /* End navigation CSS formating */

  .menu{ /* start CSS hamburguer icon menu */

    display: block;
    width: 2.5rem;
    height: 1.6rem;
    position: absolute;
    top: 1rem;
    left: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .menu-line{
    width: 100%;
    height: 0.3rem;
    background-color: #d50000;
    border-radius: 3px solid #d50000;
}

    .change  .menu-line-1 {
    transform: rotate(40deg)
    translate(0.5rem, 1rem);
}

    .change .menu-line-2{
    transform: translate(-0.2rem, 1.7rem);
}

   .change .menu-line-3 {
    transform: rotate(-45deg)
    translate(0.0rem, -0.4rem);
}
/* End icon menu CSS */


 h2{
    font-size: 10px;
    font-weight: bolder;
 }

 p{
     font-size: 10px;
     font-weight:bolder;
    justify-self: center;
    padding: 5px;
    text-align:justify;
 }

 hr{    /* line seprating sections CSS */
     height: 2px;
     margin-left: 5px;
     margin-right: 5px;
     background-color: black;
     border: none;
 }


 h3{
     background-color:#BF272D ;
      width: 97.04px;
      height: 25.08px;
      padding-bottom: -5px;
      clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);  
    }

    /* guitar CSS with animation  */
      .guitar {
          cursor: pointer;
          transition: transform ease-in-out 0.1s;
    }

    .guitar:hover{
        transform: scale(1.3); 

    }
  
    /* guitar CSS pictures with animation pop up  */

    .carrousel{
        position:relative;
        display: flex;
        width: 100vw;
      
    }
    .pro-container {
        padding: 5px 1vw;
        display: flex;
        overflow-x: 100%;
        scroll-behavior: smooth;

      }
      
      .pro-container::-webkit-scrollbar {
        display: none;
      }
    
      .pro-image {
        position: relative;
        width: 100%;
        height: 100%;     
        padding: 5px;

      }
      
      /* button to turn the carousel pics on mobile version */
      .left-btn,
      .right-btn {
          position: absolute;
        border: none;
        width: 10vw;
        height: 100%;
        top: 0;
        justify-content: center;
        align-items: center;
        background: grayscale($color: white);
        opacity: 30%;
        cursor: pointer;
        z-index: 8;
        box-shadow: white;
        }
    
      .pro-thumb {
        width: 60px;
        height: 110px;
        object-fit:cover;
        border-radius: 20px;
        border: 3px solid black;
        cursor: pointer;
        filter: grayscale(50%);
        transition: 1s;
      }

      .pro-thumb:hover{     /* image animation CSS effect */
          filter: grayscale(0%);
          transform: scale(1.1);
      }
    
      .left-btn {
        left: 0;
      }
      
       .right-btn {
        right: 0;
      }
    
  
    
    .left-btn:hover img,
    .right-btn:hover img {
        opacity: 1;
        }

    h4{
      display: none;
    }

    h5{
      font-weight: bold;
      font-size: 15.63px;
      padding: 5px;
    }

     .blo  {
      font-weight: bold;
      font-size: 13px;
      list-style-type: none; 
      margin-bottom: 5px;
    }

    ul > li{
     list-style-type:disc; 
     text-align:left;
     font-size: 15px;
     font-weight:lighter;
    }

    .box{
      background-color: white;
      padding: 50px;
      width: 100%;
    }

    .bord2{
      border: 10px solid #DDb45d;
      margin: -30px;
      padding: 10px;
      padding-left: 25px;
    }

    .basket{
      margin-left: 20%;    
    }

    .btn-last{
      width: 100px;
      cursor: pointer;
      filter:sepia(0%);
      transition: 1s;
    }

     .basket:hover {
      filter:sepia(100%);
      transform: scale(1.1);
    }

    .wish{
      margin-left: -10px;
    }

    .wish:hover{
      filter:sepia(100%);
      transform: scale(1.1);
    }

/* footer social media icons fb and instagram  */
 .ista >  img{
   width: 26px;
   height: 24px;
 }

 .icon > h6{
  margin-left: 20px;
  margin-bottom: 15px;
 }

 .fb >  img{
  width: 26px;
  height: 24px;
}
  .ista{
  margin-top: -27px;
  margin-left: 30px;
}

/* Screen size large mobile 411px width  */
@media only screen and (min-width:411px) {
  .right-btn {
    right: 30px;
  }
}

/* Screen size large device 485px width  */

@media only screen and (min-width:485px) {
 
  .content1 > .logo{
    justify-self: end;
  }

  .txt{
    margin-left: 20px;
  }

  .menu{
    margin-right: -20%;
    left: -30;
  }

  .banner {
    width: 100vw;
  }
  
  .right-btn {
    right: 80px;
  }

  .line3{
    color: black;
    width: 200%;
    margin: 0;
  }
}

/* Screen size large device small tablet 600px width  */
@media only screen and (min-width:600px) {


    .left-btn {
    display:none;
  }

  .right-btn {
    display:none;
  }
  .banner{
    justify-content: center;
  }

  
.txt{
  margin-left: 0px;
}

hr{
  margin-top: 5%;
  margin-bottom: 5%;
}

.guitar{
  width: 303px;
  height: 395px;
}

.stamp{
  width: 152px;
  height: 115px;
}

.pro-thumb{
  width: 76px;
  height:126px ;
}

.detail{
  justify-content: center;
  margin-left: 10%;
}
.btn-last{
   width: 120px;
   height: 64px;
 }

 .add{
   padding-left: 10px;
   margin-top: 30px;
 }

 .add >h6{
   font-weight: bold;
   margin-left: 5px;
   font-size: 12px;
 }

 .add > p{
   font-weight: lighter;
   font-size: 12px;
 }

 .icon{
   margin-bottom: 10px;
 }

 .icon > h6{
   font-size: 12px;
 }

 .icon > a{
   display: inline;
   margin: 5px;

 }
 .fb {
  width: 44px;
  height: 44px;
 }

 .ista{
  width: 44px;
  height: 44px;
 }



}

/* Screen size large device mediun tablet 670px width  */
@media only screen and (min-width:670px){
  
  .navbar {
    justify-content: start;
    flex-direction: column;
    background-color: #1A1A1A;
    border-radius: 0.5rem;
    height: calc(100vh -5rem);
    margin-left: -80px;
  }

  .nav-list{
    margin-left: 60px;
  }
}

/* Screen size large device mediun to large tablet 735px width  */
@media only screen and (min-width: 735px ) and (max-width: 800px){
  
  .navbar {

    margin-left: -150px;
  }

  .nav-list{
    margin-left: 80px;
  }
}

/* Screen size large device largest tablet 810px to 900px width  */
@media only screen and (min-device-width: 801px ) and (max-device-width: 900px){
  .navbar {

    margin-left: -270px;
  }

  .nav-list{
    margin-left: 185px;
  }

}

/* Screen size small laptop 670px width  */
@media only screen and (min-device-width: 901px ) and (max-device-width: 1000px){
  .navbar {

    margin-left: -360px;
  }

  .nav-list{
    margin-left: 265px;
  }

}

/* Screen size small laptop to large laptop and desktop 1001px to 2000px width  */
@media only screen and (min-device-width: 1001px ) and (max-device-width: 2000px) {
  body{
    background-image: url("/img/bkgD.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: top;
}

  .menu{
    display: none;
  }

  .banner{
    display: none;
  }



  .logo > img{
    width: 552px;
    height: 100px;
    padding: 5px;
  }

  .logo{
    margin-right: 100%;

  }

  .bask > img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }

  
   .navbar {
    background-color: transparent;
    margin-left: 55%;
    margin-top: 5%;
    position: absolute;
    border-width: 400%;

  }

    
   .nav-list{
    background-color: transparent;
    width: 100%;
    margin-left: 20%;

  }


  
    .nav-list li, .nav-link{
    overflow: hidden;
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    display:table-cell;
    justify-content: center;
    padding-left: 25px;
    border-bottom: none;
    }

    .nav-link::before{
      content: '';
      border-right: black 3px solid;
      height: 50%;
      top: 25%;
    }

  

    .nav-link:hover{
        color: white;
    }

    .txt{
      margin-right: 3vw;
      margin-left: 3vw;
      margin-TOP: -5%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 17px;
      text-align: justify;
      }
      
      hr{
        margin-left:18vw;
        width: 100%;
      }

      .line{
        position: relative;
        margin-top: 75px;
        margin-left:19.5vw;
        width: 100%;
      }

      .stamp{
        width: 220px;
        height: 185px;
      }

      h3{
        width: 110px;
        height: 30px;
        font-size: 22px;
        line-height: -4px;
        transform:rotate(25deg) ;

      }

      .guitar{
        width: 370px;
        height: 465px;
        cursor: pointer;
      }

      .box {
        width: 380px;
        height: 261px;
      }

      .bord2{
        width: 380px;
        height: 281px;
      }

      h5{
        font-size: 20px;
      }
      .blo, h5{
        font-size: 20px;
        line-height:3rem;

      }

      .bord2 > li{
        font-size: 20px;
        line-height: 2rem;
      }

       .wish > img{
        width: 120px;
        height: 55px;
      }

      .basket > img{
        width: 120px;
        height: 55px;

      }



.btn-last{
  left: -2rem;
   }


   .btn-last{
    cursor: pointer;
    filter:sepia(0%);
    transition: 1s;
  }

   .basket:hover {
    filter:sepia(100%);
    transform: scale(1.1);
  }

  .wish:hover{
    filter:sepia(100%);
    transform: scale(1.1);
  }

      .line2{
          display: none;
      }

      .pro-image img{
        width: 100px;
        height: 152px;
      }

      .pro-image {
        cursor: pointer;
        filter: grayscale(50%);
        transition: 1s;
      }

      .pro-image:hover{
          filter: grayscale(0%);
          transform: scale(1.1);
      }
    
      .line3{
        margin-top:6%;
      }

      .icon{
        margin-top: 13%;
      }

      .icon > h6{
        font-size: 15px;
      }

      .fb, .ista{
        width: 54px;
        height:50px;
      }
      .add > p{
        font-size: 20px;
        margin-left: 150%;

      }

      .add > h6{
        font-size: 30px;
        margin-left: 150%;
        margin-top: -50px;
      }

      .add .cop{
        font-size: 15px;
        margin-left: 10%;

      }

}/* End of Scss for the pages  */
